<div class="supr-table-wrap">
  <table class="supr-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Site</th>
        <th>Mode</th>
        <th>Category</th>
        <th>Keywords</th>
        <th>Color</th>
        <th>Size</th>
        <th>Profile</th>
        <th>Proxy</th>
        <th>Toggles</th>
        <th>Status</th>
        <th>
          <mat-icon class="unarchive" fontSet="material-icons-round" (click)="exportTasks()" style="float: right;">unarchive</mat-icon>
          <mat-icon class="archive" fontSet="material-icons-round" (click)="importTasks()" style="float: right;">archive</mat-icon>
        </th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <div class="table-buttons">
    <div class="table-buttons-group">
      <div>
        <mat-icon class="table add" fontSet="material-icons-round" (click)="createTask()">add_circle</mat-icon>
      </div>
      <div>
        <mat-icon class="table play" fontSet="material-icons-round" (click)="startAllTasks()">play_arrow</mat-icon>
      </div>
      <div>
        <mat-icon class="table stop" fontSet="material-icons-round" (click)="stopAllTasks()">stop</mat-icon>
      </div>
      <div>
        <mat-icon class="table delete" fontSet="material-icons-round" (click)="stopAndRemoveAllTasks()">delete</mat-icon>
      </div>
    </div>
  </div>
</div>