:host ::ng-deep mat-pseudo-checkbox {
  border: none;
}

mat-selection-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 370px;
  max-height: 110px;
  overflow-y: scroll;
}
mat-selection-list::-webkit-scrollbar{
  display: none;
}
.mat-list-text{
  padding-right: 0;
}
.supr-input__input {
  cursor: pointer;
}