<mat-selection-list 
#keys 
[multiple]="true" 
[disableRipple]="true"
(selectionChange)="onSelectionChangeHandler($event)"
[(ngModel)]="keySelections"
[compareWith]="compareWithHandler"
>
  <mat-list-option 
  *ngFor="let key of keys$ | async" 
  [value]="key"
  checkboxPosition="before"
  color="primary"
  >
    <div class="supr-input">
      <input [disabled]="true" type="text" class="supr-input__input" value="{{key.uuid | licenseKey | uppercase}}">
      <span class="supr-input__label">{{key.role}} | Expires {{key.expires_at.toDate().getTime() | date: 'medium'}}</span>
    </div>
  </mat-list-option>
</mat-selection-list>