<div class="supr-table-wrap">
  <table class="supr-table">
    <thead>
      <tr>
        <th style="text-align: left;">Account List</th>
        <th style="text-align: center;"></th>
        <th style="text-align: right;">Total Accounts<span class="header__count">{{totalAccounts}}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accountList of (accountList$ | async)">
        <td style="text-align: left;">
          <div>{{accountList[0]}}</div>
        </td>
        <td style="text-align: right;">
          <div>{{accountList[1].length | number}}</div>
        </td>
        <td>
          <div class="actions--container">
            <mat-icon class="actions create" fontSet="material-icons-round" (click)="editAccountList(accountList)">create
            </mat-icon>
            <mat-icon class="actions delete" fontSet="material-icons-round" (click)="clearAndSaveAccountList(accountList[0])">delete
            </mat-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-buttons">
    <div class="table-buttons-group">
      <div>
        <mat-icon class="archive" fontSet="material-icons-round" (click)="importAccountList()">archive</mat-icon>
      </div>
      <div>
        <mat-icon class="unarchive" fontSet="material-icons-round" (click)="exportAccountList()">unarchive</mat-icon>
      </div>
    </div>
  </div>
</div>