:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.supr-table-wrap {
  height: 100%;
}
.table-buttons {
  .table-buttons-group {
    width: 230px;
    div {
      mat-icon.add:hover {
        color: #FFE000;
      }
    }
  }
}