<div class="supr-table-wrap">
  <table class="supr-table">
    <thead>
      <tr>
        <th style="text-align: left;">Proxy List</th>
        <th style="text-align: center;"></th>
        <th style="text-align: right;">Total Proxies<span class="header__count">{{proxyCount}}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proxyList of (proxyLists$ | async)">
        <td style="text-align: left;">
          <div>{{proxyList[0]}}</div>
        </td>
        <td style="text-align: right;">
          <div>{{proxyList[1].length | number}}</div>
        </td>
        <td>
          <div class="actions--container">
            <mat-icon class="actions create" fontSet="material-icons-round" (click)="editProxyList(proxyList)">create
            </mat-icon>
            <mat-icon class="actions delete" fontSet="material-icons-round" (click)="deleteOrClearProxyList(proxyList[0])">delete
            </mat-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-buttons">
    <div class="table-buttons-group">
      <div>
        <mat-icon class="archive" fontSet="material-icons-round" (click)="importProxyList()">archive</mat-icon>
      </div>
      <div>
        <mat-icon class="add" fontSet="material-icons-round" (click)="createProxyList()">add_circle</mat-icon>
      </div>
      <div>
        <mat-icon class="unarchive" fontSet="material-icons-round" (click)="exportProxyList()">unarchive</mat-icon>
      </div>
    </div>
  </div>
</div>