<div class="traffic-lights-container">
  <div class="traffic-lights subcontainer"
    style="display: flex; align-items: center; justify-content: space-around; width: 62px;">
    <button class="traffic-light traffic-light-close" id="close" (click)="closeWindow()"></button>
    <button class="traffic-light traffic-light-minimize" id="minimize" (click)="minWindow()"></button>
    <button class="traffic-light traffic-light-maximize" id="maximize" (click)="maxWindow()"></button>
  </div>
</div>