<app-traffic-lights></app-traffic-lights>
<div id="app">
  <div class="page page--activation">
    <img src="assets/static/transparent.png" alt="" class="logo">
    <div class="title"><strong>Supr Software</strong></div>
    <ng-container 
      *ngIf="{ 
        user: user$ | async
      } as authData"
    >
      <ng-container *ngIf="!!authData.user; then loggedIn else loggedOut"></ng-container>
      <ng-template #loggedIn>
        <ng-container *ngIf="(loading$ | async); else notLoading">
          <mat-spinner color="accent"></mat-spinner>
        </ng-container>
        <ng-template #notLoading>
          <div class="subtitle">Select an available key.</div>
          <app-license-key-list
            (keySelectedEvent)="onKeySelectedHandler($event)"
          ></app-license-key-list>
          <button class="button" (click)="goToDashboard()" [disabled]="!selectedKey">Go to dashboard</button> 
          <button class="button button--pink" (click)="logout()">Logout</button>
        </ng-template>
      </ng-template>
      <ng-template #loggedOut>
        <ng-container *ngIf="(loading$ | async); else notLoading">
          <mat-spinner color="accent"></mat-spinner>
        </ng-container>
        <ng-template #notLoading>
          <div class="subtitle">Login to get started.</div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="grid" style="grid-template-columns: 1fr; gap: 0.75rem">
              <div class="supr-input">
                <input type="text" class="supr-input__input" formControlName="email">
                <span class="supr-input__label">Email</span>
              </div>
            
              <div class="supr-input">
                <input type="password" class="supr-input__input" formControlName="password">
                <span class="supr-input__label">Password</span>
              </div>
              
              <button
                class="button"
                type="submit" 
                [disabled]="loginForm.invalid"
                [ngClass]="{'button--pink': loginForm.valid}"
              >
                Login
              </button>
            </div>
          </form>
        </ng-template>
      </ng-template>
    </ng-container>
  </div>
</div>

