<div class="sidebar">
  <a routerLink="./tasks" class="sidebar-icon sidebar-icon--tasks" 
    routerLinkActive="sidebar-icon--tasks--active"></a>
  <a routerLink="./profiles" class="sidebar-icon sidebar-icon--profiles"
    routerLinkActive="sidebar-icon--profiles--active"></a>
  <a routerLink="./settings" class="sidebar-icon sidebar-icon--settings"
    routerLinkActive="sidebar-icon--settings--active"></a>
  <a routerLink="./recaptcha" class="sidebar-icon sidebar-icon--captcha"
    routerLinkActive="sidebar-icon--captcha--active"></a>
  <div class="spacer"></div>
  <img src="assets/static/transparent.png" alt="Supr Software Supreme" title="v{{version}}">
</div>
