<div class="supr-input">
  <input
    class="supr-input__input"
    type="text"
    [matAutocomplete]="auto"
    [formControl]="control">
  <span class="supr-input__label">Proxy</span>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelectedHandler($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</div>