<div class="hrv">
  <div class="hrv__hdr">
    <div class="hrv__hdr__title">Session #{{index}}</div>
    <mat-icon class="add" fontSet="material-icons-round" (click)="createNewSession()">add_circle</mat-icon>
  </div>
  <div class="hrv__body">
    <form class="col col--075" [formGroup]="form">
      <div class="supr-input">
        <mat-select matNativeControl [ngClass]="{'supr-select__input': true}" formControlName="mode">
          <mat-option *ngFor="let m of availableModes" [value]="m">
            {{m}}
          </mat-option>
        </mat-select>
        <span class="supr-input__label">Mode</span>
      </div>

      <app-autocomplete-proxies [control]="form.controls['proxy']" [optionSelectedHandler]="optionSelectedHandler.bind(this)"></app-autocomplete-proxies>

      <div class="grid" style="grid-template-columns: 1fr 1fr 1fr; gap:0.75rem;">
        <button class="icon-button" type="button" (click)="loginSession()">
          <mat-icon color="accent" fontSet="material-icons-round">account_circle</mat-icon>
        </button>
        <button class="icon-button" type="button" (click)="createNewHarvester()">
          <mat-icon color="accent" fontSet="material-icons-round">open_in_new</mat-icon>
        </button>
        <button class="icon-button" type="button">
          <mat-icon color="warn" fontSet="material-icons-round" (click)="deleteSession()">delete</mat-icon>
        </button>          
      </div>
    </form>
  </div>
</div>