.page {
  width: 100%;
  padding: 0;
  .modal {
      height: 100%;
      overflow-y: scroll;
      .col.col--100 {
          height: 100%;
      }
  }
  .modal::-webkit-scrollbar {
      display: none;
  }
  .supr-input__input__header {
      padding-left: 0;
  }
}