<div id="app">
  <div class="page">
    <div class="modal">
      <form [formGroup]="data.profileForm" (ngSubmit)="save()">
        <div class="col col--100">
          <div class="modal__header">
            <div class="modal__header__title">
              <input type="text" class="supr-input__input__header" formControlName="name" placeholder="Profile name"
              tabindex="0">
            </div>
            <mat-icon class="cancel" (click)="close()">cancel</mat-icon>
          </div>
          <div class="modal__header__subtitle">Billing Address</div>
          <div class="grid" style="grid-template-columns: 1fr 1fr; gap: 0.75rem;" formGroupName="billingAddress">
            <div class="supr-input" style="grid-column: 1/3;">
              <input type="text" class="supr-input__input" formControlName="email" placeholder="test@suprsoftware.com">
              <span class="supr-input__label">Email Address</span>
            </div>
            <div class="supr-input">
              <input type="text" class="supr-input__input" formControlName="name" placeholder="Supr Software">
              <span class="supr-input__label">Full Name</span>
            </div>
            <div class="supr-input">
              <input type="text" class="supr-input__input" formControlName="phone" placeholder="1234567890">
              <span class="supr-input__label">Phone Number</span>
            </div>
            
            <div class="supr-input" style="grid-column: 1/3;">
              <input type="text" class="supr-input__input" formControlName="line1" placeholder="1000 Supr St.">
              <span class="supr-input__label">Address 1</span>
            </div>
            <div class="supr-input" style="grid-column: 1/3;">
              <input type="text" class="supr-input__input" formControlName="line2"
                placeholder="Apt., Unit., Ste., etc.">
              <span class="supr-input__label">Address 2</span>
            </div>
            <div class="supr-input" style="grid-column: 1/3;">
              <input type="text" class="supr-input__input" formControlName="line3">
              <span class="supr-input__label">Address 3</span>
            </div>
            <div class="supr-input">
              <input type="text" class="supr-input__input" formControlName="city" placeholder="Los Angeles">
              <span class="supr-input__label">City</span>
            </div>
            <div class="supr-input">
              <mat-select matNativeControl [ngClass]="{'supr-select__input': true}" formControlName="state">
                <mat-option *ngFor="let s of (availableStates | async)" [value]="s[0]">
                  {{s[1]}}
                </mat-option>
              </mat-select>
              <span class="supr-input__label">State</span>
            </div>
            <div class="supr-input">
              <input type="text" class="supr-input__input" formControlName="postCode" placeholder="90210">
              <span class="supr-input__label">Post Code</span>
            </div>
            <div class="supr-select">
              <mat-select matNativeControl [ngClass]="{'supr-select__input': true}" formControlName="country">
                <mat-option *ngFor="let c of availableCoutries" [value]="c">
                  {{c}}
                </mat-option>
              </mat-select>
              <span class="supr-select__label">Country</span>
            </div>
          </div>
          <mat-divider></mat-divider>

          <ng-container *ngIf="!data.profileForm.get('sameBillingAndShippingAddress').value">
            <div class="modal__header__subtitle">Shipping Address</div>
            <div class="grid" style="grid-template-columns: 1fr 1fr; gap: 0.75rem;" formGroupName="shippingAddress">
              <div class="supr-input" style="grid-column: 1/3;">
                <input type="text" class="supr-input__input" formControlName="email" placeholder="test@suprsoftware.com">
                <span class="supr-input__label">Email Address</span>
              </div>
              <div class="supr-input">
                <input type="text" class="supr-input__input" formControlName="name" placeholder="Supr Software">
                <span class="supr-input__label">Full Name</span>
              </div>
              <div class="supr-input">
                <input type="text" class="supr-input__input" formControlName="phone" placeholder="1234567890">
                <span class="supr-input__label">Phone Number</span>
              </div>
              
              <div class="supr-input" style="grid-column: 1/3;">
                <input type="text" class="supr-input__input" formControlName="line1" placeholder="1000 Supr St.">
                <span class="supr-input__label">Address 1</span>
              </div>
              <div class="supr-input" style="grid-column: 1/3;">
                <input type="text" class="supr-input__input" formControlName="line2"
                  placeholder="Apt., Unit., Ste., etc.">
                <span class="supr-input__label">Address 2</span>
              </div>
              <div class="supr-input" style="grid-column: 1/3;">
                <input type="text" class="supr-input__input" formControlName="line3">
                <span class="supr-input__label">Address 3</span>
              </div>
              <div class="supr-input">
                <input type="text" class="supr-input__input" formControlName="city" placeholder="Los Angeles">
                <span class="supr-input__label">City</span>
              </div>
              <div class="supr-input">
                <mat-select matNativeControl [ngClass]="{'supr-select__input': true}" formControlName="state">
                  <mat-option *ngFor="let s of (availableStates | async)" [value]="s[0]">
                    {{s[1]}}
                  </mat-option>
                </mat-select>
                <span class="supr-input__label">State</span>
              </div>
              <div class="supr-input">
                <input type="text" class="supr-input__input" formControlName="postCode" placeholder="90210">
                <span class="supr-input__label">Post Code</span>
              </div>
              <div class="supr-select">
                <mat-select matNativeControl [ngClass]="{'supr-select__input': true}" formControlName="country">
                  <mat-option *ngFor="let c of availableCoutries" [value]="c">
                    {{c}}
                  </mat-option>
                </mat-select>
                <span class="supr-select__label">Country</span>
              </div>
            </div>
            <mat-divider></mat-divider>
          </ng-container>
          
          <div class="modal__header__subtitle">Payment Details</div>
          <div class="grid" style="grid-template-columns: 1fr 1fr; grid-gap: 0.75rem;" formGroupName="paymentDetails">
            <div class="supr-input">
              <input type="text" class="supr-input__input" formControlName="cardNumber"
                placeholder="4123456789101112">
              <span class="supr-input__label">Card Number</span>
            </div>
            <div class="grid" style="grid-template-columns: repeat(3, 1fr); grid-gap: 0.75rem;">
              <div class="supr-select">
                <mat-select matNativeControl [ngClass]="{'supr-select__input': true}" formControlName="cardExpMonth">
                  <mat-option *ngFor="let m of cardExpMonths" [value]="m">
                    {{m}}
                  </mat-option>
                </mat-select>
                <span class="supr-select__label">MM</span>
              </div>
              <div class="supr-select">
                <mat-select matNativeControl [ngClass]="{'supr-select__input': true}" formControlName="cardExpYear">
                  <mat-option *ngFor="let y of cardExpYears" [value]="y">
                    {{y}}
                  </mat-option>
                </mat-select>
                <span class="supr-select__label">YYYY</span>
              </div>
              <div class="supr-input">
                <input type="text" class="supr-input__input" formControlName="cardCvv" placeholder="123">
                <span class="supr-input__label">CVV</span>
              </div>
            </div>
          </div>
          <button class="button button--pink" type="submit" [disabled]="data.profileForm.invalid">Save Profile</button>
        </div>
      </form>
    </div>
  </div>
</div>