<app-header headerTitle="Settings"></app-header>
<ng-container *ngIf="activeKey$ | async as activeKey; else loading">
  <div class="col col--150" style="flex: 1 1 0%;">
    <div class="grid" style="grid-template-columns: 1fr 1fr; gap: 0.75rem 1.5rem;">
      <div class="label">License</div>
      <div class="label">Webhook</div>
      <div class="supr-input">
        <input type="text" class="supr-input__input" disabled="true" value="{{activeKey.uuid | licenseKey | uppercase}}">
        <span class="supr-input__label">{{activeKey.role}} | Expires
          {{ activeKey.expires_at.toDate() | date: 'medium'}}</span>
        <div style="display: flex; align-items: center; justify-content: center;">
          <mat-icon class="input copy" fontSet="material-icons-round"
            cdkCopyToClipboard="{{activeKey.uuid | uppercase}}" (click)="copyLicenseKey()">file_copy</mat-icon>
        </div>
      </div>
      <div class="supr-input">
        <input #webhookInput matInput type="text" class="supr-input__input" [(ngModel)]="activeKey.settings.discord_webhook">
        <span class="supr-input__label">Discord Webhook</span>
        <div style="display: flex; align-items: center; justify-content: center;">
          <mat-icon class="input copy" fontSet="material-icons-round" (click)="testWebhook(webhookInput)">send</mat-icon>
        </div>
      </div>
      <div class="grid" style="grid-template-columns: 1fr 1fr; gap: 0.75rem;">
        <button class="button button--pink" (click)="deactivateMachine(activeKey)">Deactivate machine</button>
        <button class="button button--pink" (click)="logout()">Logout</button>
      </div>
      <div class="grid" style="grid-template-columns: 1fr 1fr; gap: 0.75rem;">
        <button class="button button--pink" (click)="clearWebhookInput(webhookInput)">Clear</button>
        <button class="button button--none" (click)="saveWebhookInput(activeKey, webhookInput)">Save</button>
      </div>
    </div>
    <div class="grid" style="grid-template-columns: 5fr 6fr; gap: 1.5rem; flex:1 1 0%;">
      <app-proxy-lists-table></app-proxy-lists-table>
      <app-account-lists-table></app-account-lists-table>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
