<div id="app">
  <div class="page">
    <div class="modal">
      <form [formGroup]="data.formArray" class="col col--100" (ngSubmit)="save()">
        <div class="modal__header">
          <div class="modal__header__title">
            <input type="text" class="supr-input__input__header" [formControl]="data.formArray.controls[0]" tabindex="0">
          </div>
          <mat-icon class="cancel" (click)="close()">cancel</mat-icon>
        </div>
        <div class="col col--075">
          <textarea class="supr-textarea" style="flex:1 1 0%" [formControl]="data.formArray.controls[1]" cdkFocusInitial></textarea>
          <button class="button button--pink" type='submit' [disabled]="data.formArray.invalid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>