.page {
  width: 100%;
  padding: 0;
  .modal {
      height: 100%;
      overflow-y: scroll;
      .col.col--100 {
          height: 100%;
          div.col.col--075 {
              height: 100%;
          }
      }
  }
  .modal::-webkit-scrollbar {
      display: none;
  }
}