@import "https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp";
@import "~@angular/material/theming";
@include mat-core();
$supr-software-purple: (
    50 : #eeebff,
    100 : #d4cdff,
    200 : #b8acff,
    300 : #9c8bff,
    400 : #8672ff,
    500 : #7159ff,
    600 : #6951ff,
    700 : #5e48ff,
    800 : #543eff,
    900 : #422eff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #dddaff,
    A700 : #c5c0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$supr-software-pink: (
    50 : #fde9ed,
    100 : #f9c7d1,
    200 : #f6a2b3,
    300 : #f27c95,
    400 : #ef607e,
    500 : #ec4467,
    600 : #ea3e5f,
    700 : #e73554,
    800 : #e42d4a,
    900 : #df1f39,
    A100 : #ffffff,
    A200 : #ffe2e5,
    A400 : #ffafb8,
    A700 : #ff96a2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$supr-software-primary: mat-palette($supr-software-purple, 500);
$supr-software-accent: mat-palette($supr-software-pink, 500);
$supr-software-secondary: mat-palette($supr-software-purple, 300);
$supr-software-warn: mat-palette($supr-software-accent, 900);

$supr-software-default: mat-light-theme((
  color: (
    primary: $supr-software-primary,
    accent: $supr-software-accent,
    warn: $supr-software-warn
  )
));
$supr-software-icon: mat-light-theme((
  color: (
    primary: $supr-software-primary,
    accent: $supr-software-secondary,
    warn: $supr-software-warn
  )
));

// uses default theme
@include mat-progress-spinner-theme($supr-software-default);
@include mat-select-theme($supr-software-default);
@include mat-autocomplete-theme($supr-software-default);

@include mat-icon-theme($supr-software-icon);

// traffic lights

$close-red:                     #ff6159;
$close-red-active:              #bf4942;
$close-red-icon:                #4d0000;
$close-red-icon-active:         #190000;

$minimize-yellow:               #ffbd2e;
$minimize-yellow-active:        #bf8e22;
$minimize-yellow-icon:          #995700;
$minimize-yellow-icon-active:   #592800;

$maximize-green:                #28c941;
$maximize-green-active:         #1d9730;
$maximize-green-icon:           #006500;
$maximize-green-icon-active:    #003200;

$disabled-gray:                 #ddd;

.traffic-lights {
    // position: absolute;
    top: 1px;
    left: 8px;

    &:hover, &:active {
        > .traffic-light-close {
            background-color: $close-red;

            &:active:hover {
                background-color: $close-red-active;
            }
        }
        > .traffic-light-minimize {
            background-color: $minimize-yellow;

            &:active:hover {
                background-color: $minimize-yellow-active;
            }
        }
        > .traffic-light-maximize {
            background-color: $maximize-green;

            &:active:hover {
                background-color: $maximize-green-active;
            }
        }
    }

    > .traffic-light {
        &:before, &:after {
            visibility: hidden;
        }
    }

    &:hover, &:active {
        > .traffic-light {
            &:before, &:after {
                visibility: visible;
            }
        }
    }
}

.traffic-light {
    border-radius: 100%;
    padding: 0;
    height: 12px;
    width: 12px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-left: 5.5px;
    margin-top: 4px;
    -webkit-app-region: no-drag;
    position: relative;
    outline: none;
    &.traffic-light-close {
      background-color: $close-red;
      margin-left: 6px;
    }
    &.traffic-light-minimize {
      background-color: $minimize-yellow;
    }
    &.traffic-light-maximize {
      background-color: $maximize-green;
      margin-left: 5px;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        border-radius: 1px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    &-close {
        &:before, &:after {
            background-color: $close-red-icon;
            width: 8px;
            height: 1px;
        }
        &:before {
            transform: rotate(45deg);// translate(-0.5px, -0.5px);
        }
        &:after {
            transform: rotate(-45deg);// translate(0.5px, -0.5px);
        }
        &:active:hover:before, &:active:hover:after {
            background-color: $close-red-icon-active;
        }
    }

    &-minimize {
        &:before {
            background-color: $minimize-yellow-icon;
            width: 8px;
            height: 1px;
            //transform: translateY(-0.5px);
        }
        &:active:hover:before {
            background-color: $minimize-yellow-icon-active;
        }
    }

    &-maximize {
        &:before {
            background-color: $maximize-green-icon;
            width: 6px;
            height: 6px;
        }
        &:after {
            background-color: $maximize-green;
            width: 10px;
            height: 2px;
            transform: rotate(45deg);
        }
        &:active:hover:before {
            background-color: $maximize-green-icon-active;
        }
        &:active:hover:after {
            background-color: $maximize-green-active;
        }
    }
}
.traffic-lights-container {
  position: absolute;
  display: flex;
  align-items: center;
  height: 20px;
  width: 100%;
  background-color: #231c56;
  -webkit-app-region: drag;
}
/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
body {
  overflow: hidden;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0c0a35;
  color: #fff;
}
#app > :nth-child(2) {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sidebar {
  background: #231c56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3rem 1.5rem;
  align-items: center;
}
.sidebar > :not(:last-child) {
  margin-bottom: 2.5rem;
}
.sidebar a {
  color: #fff;
}
.sidebar .spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sidebar img {
  height: 4rem;
  margin: 0 -1rem -2rem;
  animation: breathing 4s ease-out infinite normal;
  -webkit-animation: breathing 4s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}



@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(.85);
    transform: scale(.85);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(.85);
    transform: scale(.85);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(.85);
    -ms-transform: scale(.85);
    transform: scale(.85);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(.85);
    -ms-transform: scale(.85);
    transform: scale(.85);
  }
}
.page {
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page--activation {
  height: 100%;
  width: 100%;
  background: #231c56;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page--activation .logo {
  max-height: 10rem;
  animation: breathing 4s ease-out infinite normal;
  -webkit-animation: breathing 4s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}
.page--activation .title {
  font-size: 2.125rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
.page--activation .subtitle {
  opacity: 0.7;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.page--activation .supr-icon-input {
  min-width: 24rem;
}
.page--activation .button {
  margin-top: 0.75rem;
  min-width: 15rem;
}
.page--captcha-popup {
  max-width: 28rem;
}
.page--captcha-popup .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 0.3125rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.page--captcha-popup .logo {
  max-height: 8rem;
}
.page--captcha-popup .footer {
  font-size: 0.75rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.75rem;
  border-top: hsla(0, 0%, 100%, 0.1);

  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-top: 0.5rem;
}
.page--captcha-popup .footer div:first-child {
  opacity: 0.75;
}
.page--captcha-popup .footer .logo {
  max-height: 1.5rem;
  margin-left: auto;
}
.page--captcha-popup .caption {
  font-weight: 500;
  margin-top: 1rem;
}
.page--captcha-popup .supr-input {
  min-width: 24rem;
}
.page--captcha-popup .button {
  margin-top: 0.75rem;
  min-width: 22.5rem;
}
.modal {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2b2368),
    to(#231c56)
  );
  background-image: linear-gradient(180deg, #2b2368, #231c56);
  -webkit-box-shadow: 0 0.625rem 1.25rem 0.3125rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.625rem 1.25rem 0.3125rem rgba(0, 0, 0, 0.5);
  border-radius: 0.3125rem;
  padding: 1.25rem;
  max-width: 32rem;
}
.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  // align-items: center;÷
  margin-bottom: auto;
  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.modal__header__subtitle {
  font-size: 1rem;
  font-weight: bolder;
  opacity: 0.7;
  // margin-bottom: 1.5rem;
  margin-right: auto;
}
.modal__header__title {
  font-size: 1.75rem;
  font-weight: bolder;
  margin-right: auto;
  .ng-invalid {
    color: #fff;
    border: 1px solid #ec4480;
    border-radius: 0.3125rem;
  }
}
.bulb--none {
  height: 0.75rem;
  width: 0.75rem;
  margin: -0.125rem 0.125rem -0.125rem 0;
  background: #9c8bff;
  border-radius: 100rem;
}
.bulb {
  height: 0.75rem;
  width: 0.75rem;
  margin: -0.125rem 0.125rem -0.125rem 0;
  background: #ec4480;
  border-radius: 100rem;
  -webkit-box-shadow: 0 0 5px 0 rgba(236, 68, 128, 0.5);
  box-shadow: 0 0 5px 0 rgba(236, 68, 128, 0.5);
}
.bulb--none:hover,
.bulb:hover {
  cursor: pointer;
}
.bulb--none,
.bulb,
.icon {
  display: inline-block;
}
.icon {
  padding: 0.5rem;
  content: "";
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.icon:not(:last-child) {
  margin-right: 0.5rem;
}
.header {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__title {
  font-size: 1.75rem;
  font-weight: 700;
}
.header__count {
  background: #231c56;
  color: #b595ff;
  font-size: 0.75rem;
  font-weight: bolder;
  padding: 0.125rem 0.5rem;
  border-radius: 100rem;
  margin-left: 0.25rem;
}
.header__count + .tag,
.header__title + .tag {
  margin-left: auto;
}
.header .tag:not(:last-child) {
  margin-right: 0.5rem;
}
.tag {
  background: #231c56;
  border: 1px solid #231c56;
  border-radius: 100rem;
  position: relative;
  padding: 0.25rem 0.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tag:hover {
  cursor: pointer;
}
.tag__circle {
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 100rem;
  height: 10px;
  width: 10px;
  margin-right: 0.375rem;
}
.tag__label {
  font-size: 0.6875rem;
  font-weight: 700;
}
.tag--pink {
  border: 1px solid #ec4480;
  -webkit-box-shadow: 0 0 5px 0 rgba(236, 68, 128, 0.5);
  box-shadow: 0 0 5px 0 rgba(236, 68, 128, 0.5);
}
.tag--pink .tag__circle {
  background: #ec4480;
}
.sidebar-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.sidebar-icon--tasks {
  background-image: url(./assets/static/tasks.svg);
}
.sidebar-icon--tasks--active {
  background-image: url(./assets/static/tasks--active.svg);
}
.sidebar-icon--profiles {
  background-image: url(./assets/static/profiles.svg);
}
.sidebar-icon--profiles--active {
  background-image: url(./assets/static/profiles--active.svg);
}
.sidebar-icon--settings {
  background-image: url(./assets/static/settings.svg);
}
.sidebar-icon--settings--active {
  background-image: url(./assets/static/settings--active.svg);
}
.sidebar-icon--captcha {
  background-image: url(./assets/static/captcha.svg);
}
.sidebar-icon--captcha--active {
  background-image: url(./assets/static/captcha--active.svg);
}
.sidebar-icon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.label {
  font-weight: bolder;
}
.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.col--075 > :not(:last-child) {
  margin-bottom: 0.75rem;
}
.col--100 > :not(:last-child) {
  margin-bottom: 1rem;
}
.col--150 > :not(:last-child) {
  margin-bottom: 1.5rem;
}
.grid {
  display: grid;
}
.button {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7159ff),
    to(#533bdc)
  );
  background-image: linear-gradient(180deg, #7159ff, #533bdc);
  color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.3125rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border: none;
  outline: none;
}
.button--pink {
  border: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ec4480),
    to(#ec4467)
  );
  background-image: linear-gradient(180deg, #ec4480, #ec4467);
}
.button:enabled:hover {
  -webkit-transform: scale(1.025, 1.1);
  transform: scale(1.025, 1.1);
  cursor: pointer;
}
.supr-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: hsla(0, 0%, 100%, 0.05);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 0.3125rem;
  min-width: 0;
  .ng-invalid.ng-touched {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: hsla(0, 0%, 100%, 0.05);
    border: 1px solid #ec4480;
    border-radius: 0.3125rem;
    min-width: 0;
  }
}
.supr-input__input__header {
  background: transparent;
  border: none;
  color: #fff;
  padding: 0.375rem 0.375rem;
  font-size: 1.75rem;
  font-weight: 700;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.supr-input__input {
  background: transparent;
  border: none;
  color: #fff;
  padding: 0.375rem 0.375rem 1.25rem;
  font-weight: 700;
  font-size: 0.8125rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}
.supr-input__label {
  position: absolute;
  bottom: 0.25rem;
  left: 0.375rem;
  font-size: 0.75rem;
  font-weight: bolder;
  opacity: 0.75;
  .error__label {
    font-style: italic;
  }
  color: #fff;
}
.supr-icon-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: hsla(0, 0%, 100%, 0.05);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 0.3125rem;
}
.supr-icon-input .supr-input {
  border: none;
  background: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.supr-icon-input .icon {
  margin: 0;
  padding: 0 1.25rem;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}
.supr-select {
  background-color: hsla(0, 0%, 100%, 0.05);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.supr-select__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 0.375rem 0.375rem 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  .mat-select-arrow {
    color: white;
  }
  .mat-select-value-text {
    span {
      color: white;
      font-size: .8125rem;
    }
  }
}
.supr-select__label {
  font-size: 0.75rem;
  font-weight: bolder;
  opacity: 0.75;
  position: absolute;
  bottom: 0.25rem;
  left: 0.375rem;
}
.supr-textarea {
  padding: 0.375rem;
  background: hsla(0, 0%, 100%, 0.05);
  color: #fff;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 0.3125rem;
  resize: none;
  font-size: 0.875rem;
  font-weight: bolder;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.supr-textarea.ng-invalid {
  padding: 0.375rem;
  background: hsla(0, 0%, 100%, 0.05);
  color: #fff;
  border: 1px solid #ec4480;
  border-radius: 0.3125rem;
  resize: none;
  font-size: 0.875rem;
  font-weight: bolder;
}
.supr-textarea::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.supr-input__input:focus,
.supr-select__input:focus,
.supr-textarea:focus {
  outline: none;
}
.supr-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.supr-toggle__label {
  color: #fff;
  font-size: 0.875rem;
  font-weight: bolder;
  margin-right: auto;
}
.supr-toggle__toggle {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}
.supr-toggle__toggle input {
  display: none;
}
.supr-toggle__toggle label {
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.supr-toggle__toggle label,
.supr-toggle__toggle label:before {
  border-radius: 100rem;
  position: absolute;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.supr-toggle__toggle label:before {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background: #fff;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15),
    0 3px 1px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 3px 1px 0 rgba(0, 0, 0, 0.06);
}
.supr-toggle__toggle input:checked + label {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#816bff),
    to(#684eff)
  );
  background-image: linear-gradient(180deg, #816bff, #684eff);
}
.supr-toggle__toggle input:checked + label:before {
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}
.supr-table-buttons {
  position: -webkit-sticky;
  position: sticky;
  top: calc(100% - 4rem);
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none;
}
.supr-table-button-group,
.supr-table-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.supr-table-button-group {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7159ff),
    to(#533bdc)
  );
  background: linear-gradient(180deg, #7159ff, #533bdc);
  border-radius: 0.3125rem;
  z-index: 100;
  -webkit-box-shadow: 0 0.5rem 1rem 0.3125rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.5rem 1rem 0.3125rem rgba(0, 0, 0, 0.5);
  pointer-events: all;
}
.supr-table-button-group .supr-table-button {
  border-radius: 0;
  border-right: 1px solid hsla(0, 0%, 100%, 0.2);
}
.supr-table-button-group .supr-table-button:first-child {
  border-radius: 0.3125rem 0 0 0.3125rem;
}
.supr-table-button-group .supr-table-button:last-child {
  border-radius: 0 0.3125rem 0.3125rem 0;
  border-right: none;
}
.supr-table-wrap {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  background: #231c56;
  border-radius: 0 0 0.3125rem 0.3125rem;
}
.supr-table-wrap::-webkit-scrollbar {
  display: none;
}
.supr-table {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.supr-table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.supr-table th {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7159ff),
    to(#533bdc)
  );
  background-image: linear-gradient(180deg, #7159ff, #533bdc);
  font-size: 0.75rem;
  font-weight: 700;
  text-align: left;
  padding: 0.75rem 0.75rem 0.75rem 0;
}
.supr-table td {
  font-size: 0.75rem;
  font-weight: bolder;
  padding: 0;
}
.supr-table td > div {
  background: #2f276f;
  margin: 0 0 0.75rem;
  padding: 0.75rem 0;
  height: 14px;

}
.supr-table td > div.actions--container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #2f276f;
  margin: 0 0 0.75rem;
  padding: 0.75rem 0;
  height: 14px;
}
.supr-table td > div.actions--container > mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;

  // height: .75rem;
  // width: .75rem;
}
.supr-table td > div > .icon {
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}
.supr-table td:first-child > div {
  border-radius: 0.3125rem 0 0 0.3125rem;
  margin-left: 0.5rem;
  padding-left: 0.75rem;
}
.supr-table td:last-child > div {
  border-radius: 0 0.3125rem 0.3125rem 0;
  margin-right: 0.5rem;
  padding-right: 0.75rem;
  text-align: right;
}
.supr-table tr:first-child {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
.supr-table tr:first-child th:first-child {
  border-radius: 0.3125rem 0 0 0;
  padding-left: 1.25rem;
}
.supr-table tr:first-child th:last-child {
  border-radius: 0 0.3125rem 0 0;
}
.supr-table tbody {
  overflow: auto;
}
.supr-table tbody tr:first-child > td > div {
  margin-top: 0.75rem;
}
.supr-table-button {
  border-radius: 0.3125rem;
  padding: 1.25rem 3.75rem;
  -webkit-transition: background-size 0.25s;
  transition: background-size 0.25s;
}
.supr-table-button--detach {
  background-image: url(./assets/static/detach-2.svg),
    -webkit-gradient(linear, left top, left bottom, from(#7159ff), to(#533bdc));
  background-image: url(./assets/static/detach-2.svg),
    linear-gradient(180deg, #7159ff, #533bdc);
}
.supr-table-button--download,
.supr-table-button--detach {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
}
.hrv--active {
  border: 1px solid #ec4480;
  border-radius: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
}
.hrv__hdr {
  background: #2f276f;
  padding: 0.75rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hrv__hdr__title {
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.hrv__body {
  border-radius: 0 0 0.3125rem 0.3125rem;
  background: #231c56;
  padding: 0.75rem;
}
.icon-button {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  height: 2.75rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 100%, 0.1)),
      to(hsla(0, 0%, 100%, 0.05))
    );
  background: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.1),
      hsla(0, 0%, 100%, 0.05)
    );
}
.icon-button--detach {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 100%, 0.1)),
      to(hsla(0, 0%, 100%, 0.05))
    ),
    url(./assets/static/detach.svg) no-repeat 50%;
  background: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.1),
      hsla(0, 0%, 100%, 0.05)
    ),
    url(./assets/static/detach.svg) no-repeat 50%;
}
.icon-button--youtube {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 100%, 0.1)),
      to(hsla(0, 0%, 100%, 0.05))
    ),
    url(./assets/static/youtube.svg) no-repeat 50%;
  background: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.1),
      hsla(0, 0%, 100%, 0.05)
    ),
    url(./assets/static/youtube.svg) no-repeat 50%;
}
.icon-button--download {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 100%, 0.1)),
      to(hsla(0, 0%, 100%, 0.05))
    ),
    url(./assets/static/download.svg) no-repeat 50%;
  background: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.1),
      hsla(0, 0%, 100%, 0.05)
    ),
    url(./assets/static/download.svg) no-repeat 50%;
}
.icon-button--active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
}
.icon-button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
.dialog-container mat-dialog-container {
  padding: 0px;
  overflow: hidden;
}
.spinner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.captcha-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
}
.captcha-container::-webkit-scrollbar {
  display: none;
}

.mat-icon {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.mat-icon:hover {
  cursor: pointer;
}
.mat-icon.archive:hover,
.mat-icon.unarchive:hover,
.mat-icon.add:hover,
.mat-icon.cancel:hover,
.mat-icon.table:hover,
.mat-icon.shopping_cart:hover {
  color: #ec4467;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.mat-icon.create:hover {
  color: #FFE000;
}
.mat-icon.copy:hover{
  color: #33B6FF;
}
.mat-icon.delete:hover {
  color: #F64962;
}
.mat-icon.stop:hover {
  color: #FF7D03;
}
.mat-icon.archive:hover,
.mat-icon.play:hover{
  color: #00E72C;
}

.mat-icon.actions {
  content: "";
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.mat-icon.actions:not(:last-child) {
  margin-right: 0.5rem;
}
.mat-icon.actions:hover {
  -webkit-transform: scale(1.125);
  transform: scale(1.125);
}

.mat-icon.actions.create {
  font-size: 18px;
}
.mat-icon.actions.copy {
  font-size: 16px;
}
.mat-icon.actions.delete {
  font-size: 20px;
}
.mat-icon.input.copy {
  font-size: 20px;
}

.mat-icon.table.delete {
  font-size: 28px;
}
.mat-icon.table.stop,
.mat-icon.table.play {
  font-size: 32px;
}

.table-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: calc(100% - 4rem);
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none;

  .table-buttons-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#7159ff),
      to(#533bdc)
    );
    background: linear-gradient(180deg, #7159ff, #533bdc);
    border-radius: 0.3125rem;
    z-index: 100;
    -webkit-box-shadow: 0 0.5rem 1rem 0.3125rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.5rem 1rem 0.3125rem rgba(0, 0, 0, 0.5);
    pointer-events: all;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      border-right: 1px solid hsla(0, 0%, 100%, 0.2);
      height: 40px;
      width: 100px;
      .mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    div:first-child {
      border-radius: 0.3125rem 0 0 0.3125rem;
    }

    div:last-child {
      border-radius: 0 0.3125rem 0.3125rem 0;
      border-right: none;
    }
  }
  .table-buttons-group:hover {
    cursor: pointer;
  }
}

.snackbar {
  background: #231c56;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 0.3125rem;
}