<div class="supr-table-wrap">
  <table class="supr-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Payment</th>
        <th>
          <mat-icon class="add" (click)="createProfile()" style="float: right;">add_circle</mat-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of (profiles$ | async)">
        <td>
          <div>{{profile.name}}</div>
        </td>
        <td>
          <div>{{profile.billingAddress.email}}</div>
        </td>
        <td>
          <div>{{profile.billingAddress.line1}}</div>
        </td>
        <td>
          <div>{{profile.paymentDetails.cardTypeNice}} {{profile.paymentDetails.cardNumber | creditCardNumber}}</div>
        </td>
        <td>
          <div class="actions--container">
            <mat-icon class="actions create" fontSet="material-icons-round" (click)="editProfile(profile)">create</mat-icon>
            <mat-icon class="actions copy" fontSet="material-icons-round" (click)="copyProfile(profile)">file_copy</mat-icon>
            <mat-icon class="actions delete" fontSet="material-icons-round" (click)="deleteProfile(profile)">delete</mat-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-buttons">
    <div class="table-buttons-group">
      <div>
        <mat-icon class="archive" fontSet="material-icons-round" (click)="importProfiles()">archive</mat-icon>
      </div>
      <div>
        <mat-icon class="unarchive" fontSet="material-icons-round" (click)="exportProfiles()">unarchive</mat-icon>
      </div>
    </div>
  </div>
</div>