<app-header headerTitle="Captcha"></app-header>
<ng-container *ngIf="gSessions$ | async as gSessions; else loading">
  <div class="captcha-container">
    <app-harvester-card
      *ngFor="let session of gSessions; let i = index"
      [gSession]="session"
      [index]="i"
      (createNewSessionEvent)="createNewSessionHandler()"
      (deleteSessionEvent)="deleteSessionHandler($event)"
      (proxySelectedEvent)="proxySelectedHandler()"
      (loginSessionEvent)="loginSessionHandler($event)"
      (createNewHarvesterEvent)="createNewHarvesterHandler($event)"
    >
    </app-harvester-card>
  </div>
</ng-container>
<ng-template #loading>
  <div class="spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>